<div>
  <div class="controls-item--title">
    Attacks Log
  </div>
  <table class="controls-item--table">
    <thead>
      <th>Timestamp</th>
      <th>Country</th>
      <th>City</th>
      <th>ASN</th>
      <th>Organization</th>
      <th>IP</th>
      <th>Port</th>
    </thead>
    <tbody>
      {{#each logLines}}
      <tr>
        <td>{{timestamp}}</td>
        <td>{{country}}</td>
        <td>{{city}}</td>
        <td>{{asn}}</td>
        <td>{{organization}}</td>
        <td>{{ip}}</td>
        <td>{{port}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
